# macOS
.DS_Store

# Windows
Thumbs.db

# Editor files
*.swp
*.swo
.vscode/

# Node.js
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc
*.pyo

# Java
target/
*.class

# API keys
.env
secrets.json

*.log

